*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcf7f2;
}

header {
    background-color: rgba(237,222,201,1.000);
    position: sticky;
    top:0;
    z-index: 9999;
    
    .logo{
        width: 70px;
    }
    nav {
        position: absolute;
        left:60%;
        top:50%;
        ul{
            list-style: none;
            li{
                display:inline-block;
                margin:15px;
                a{
                    text-decoration: none;
                    color: #d6818c;
                    font-size: 20px;
                }
            }
        }
    }
}

main{
    .principal-index{
        h1{
            color: #5f8f93;
            font-size: 50px;
            text-align: center;
            position: absolute;
        }
    }
    h2 {
        text-align: center;
        color: #5f8f93;
    }
    .div-articles{
        display: flex;
        flex-direction: row;
    }
}

footer{
    background-color:#ebb06c;
    .logo{
        width: 100px;
    }
    .fa-whatsapp{
        font-size: 3rem;
        color: rgb(75, 74, 74);
        position:fixed;
        bottom: 20px;
        right: 20px;
    }
    
}